{% load staticfiles %}
<html>
    <head>
        <title>Cli-Lab_Hos</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- <link rel="stylesheet" href="{% static 'css/appClinic.css' %}"> -->
    </head>
   <body>
    <div class="page-header">
        <h3><a href="/">Welcome To Cli-Lab_Hos Application</a></h3>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

     <div class="page-footer">
        <h3><a href="#">Made By ITIans</a></h3>
    </div>
</body>
</html>