{% extends 'appClinic/base.html' %} {% block content %}
<div class="jumbotron">
        {% load staticfiles %}
            <img src="{% static "img2.jpg" %}" alt="My image" width="100%" /> 
</div>
<form class="form-horizontal" style="padding:50" action="{% url 'app:search' %}">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." name="data">
        <span class="input-group-btn">
        <button class="btn btn-default">Go!</button>
      </span>
    </div>
</form>

{% endblock %}