{% extends 'appClinic/base.html' %} {% block content %}
<div class="row " style="height: 80%">
    <div class="col-sm-offset-2 col-sm-8 col-md-8">
        <h2 class="text-primary text-center"> Login </h2>

        <form action="/appClinic/login/" method="post" class ="form-horizontal">
            {% csrf_token %} 
            <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">User Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                    </div>
    				<div class="form-group">
                        <div class="col-sm-offset-6 col-sm-2">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                    <div class="col-sm-offset-10 col-sm-2">
 						<a href="/appClinic/register">Sign up</a>
 					</div>
                    
        		</form>
    </div>
</div>

{% endblock %}


{% extends 'base.html' %}


{% block main %}
 <div>
 <h1>authentication Social Media</h1>

 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
     </li>
   {% endif %}
   </ul>
 </p>
 </div>
{% endblock %}
